{% extends "web/base.html" %}
{% load static %}
{% block body %}
{% block notifications %}
{% endblock %}
<div class="container my-3">  
  </div>
  <!-- END layout-wrapper -->
  
  <div class="row">
    <div class="col-xxl-2 col-lg-3">
      {% block sidebar-nav %}
        {% include "web/components/app_nav.html" %}
      {% endblock %}
     
    </div>
    <div class="col-lg">
      {% block app %}
      {% endblock %}
    </div>
  </div>

  <!-- Concatenated jQuery and plugins -->
  <script src="{% static 'js/app.js' %}"></script>

  <!-- Bulkit js -->
  <script src="{% static 'js/functions.js' %}"></script>
  <script src="{% static 'js/auth.js' %}"></script>
  <script src="{% static 'js/contact.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script src="assets/js/app.js"></script>
  <script src="{% static 'js/minia-app.js' %}"></script>
</div>
{% endblock %}
