{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block app %}
<section class="app-card">
    <div class="pg-columns pg-columns-reversed pg-align-items-center">
        <div class="pg-column-one-third">
            <img class="img-fluid" src="{% static 'images/undraw/undraw_outer_space.svg' %}" alt="{% translate "Fly Away!" %}">
        </div>
        <div class="pg-column">
            <h1 class="pg-title">{% translate "How to Get Started" %}</h1>
            <h2 class="pg-subtitle">
                {% translate "Watch this video tutorial on how to get started" %}
            </h2>
            <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src={{ loom_demo_url }} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
        </div>
    </div>
</section>
{% comment %} <section class="app-card">
    <div class="pg-content">
        <p>To add more to this page you can make new sections like this one.</p>
        <p>Tip: the source of this page can be found at <code>templates/web/app_home.html</code></p>
    </div>
</section> {% endcomment %}
{% endblock %}
