{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}

<!-- MINIA Horizontal - Begin page -->

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
{% for message in messages %}
<input type="hidden" id="login-msg" value="{{message}}">
{% endfor %}

<head>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link id="theme-sheet" rel="stylesheet" href="{% static "css/core.css" %}">
</head>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- end page title -->
            {% include "web/amazon/components/asin_selector.html" %}
            <br>
            {% comment %} lol {% endcomment %}
            <div class="row">
                <div class="">
                    <!-- card -->
                    <div class="card card-h-100 col-xl-12">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="d-flex align-items-center mb-4">
                                    <button class="dropbtn" type="button" id="customer-insights-btn" >Customer Insights</button>
                                    <button onclick="" class="dropbtn" type="button" id="customer-reviews" style="margin-left:10px; width:150px;">Reviews</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div> <!-- end row-->
            <br><br><br>
            
            <div id="customer-insights-subcomponent">
                <div style="margin-top:-60px; margin-bottom:-50px; margin-left:-10px;">{% include "web/amazon/components/customer_insights.html" %}</div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>
      
    <!-- End Page-content -->
<!-- end main content-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static "js/custom.js" %}"></script>

<script type="text/javascript">
    $(document).on('submit','#search-asin-form', async function(e) {
        $.ajax({
            type:'POST',
            dataType: 'json',
            url: "{% url 'customer_insights:fetch_new_asin_data' request.team.slug %}",
            async: false,
            data:
            {
                search_asin:$("#search-asin").val(),
                search_type:$("#search-type").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
        });
        });
</script>

{% endblock %}
