{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Search</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bulma.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link id="theme-sheet" rel="stylesheet" href="{% static "css/core.css" %}">

    {% if MICROSOFT_CLARITY %}
        {% include 'web/components/microsoft_clarity.html' %}
    {% endif %}
</head>

<body class="is-theme-core">   
    <!--Load more data--> 
    <div class="footer-light-medium" style="padding-top:20px !important;">
        <div style="margin-left:40px;">
            <div class="footer-head">
                <div class="head-text">
                    <h3>Amazon + Chat GPT</h3>
                    <p>Get Competitive Intel, Faster</p>
                </div>
                <a class="dropdown-item" style="width:20rem; font-size:20px;" href="{% url 'users:user_profile' %}" >
                    {% translate "My Profile" %}
                </a>
            </div>
            
        </div>
    </div>
    {% include "web/amazon/components/asin_search.html" %}
    {% include "web/amazon/components/compare_products.html" %}
    <br><br>
    <div>
        <p style="margin-left:20px;">
            Click Select ASIN 1 or 2, then click on your ASIN to select which review insights you will see.
            <br>
            If you do not see your ASIN, please type it into the search bar and click it when you find it.
            <br>
            When you select an ASIN, the "Select ASIN 1 or 2" text will be replaced with the ASIN.
            <br>
            If you analyzed a group of ASINs together, you will see those ASINs as a long string separated by semicolons.
            <br>
            After you have selected your ASINs, click the Compare button to see the review insights.
        </p>
    </div>
    <div class="columns">
        <div class="column">
            {% include "web/amazon/components/product_eval_component.html" with asin_details=asin_one_data %}
        </div>
        {% if asin_two_data %}
            <div class="column">
                {% include "web/amazon/components/product_eval_component.html" with asin_details=asin_two_data %}
            </div>
        {% endif %}
    </div>
    
    
    <!-- /Chat widget -->
    <!-- Concatenated jQuery and plugins -->
    <script src="{% static "js/app.js" %}"></script>

    <!-- Bulkit js -->
    <script src="{% static "js/functions.js" %}"></script>
    <script src="{% static "js/auth.js" %}"></script>
    <script src="{% static "js/contact.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    <script>
        let url = `ws://{window.location.host}/ws/socket-server/`;
        
        const chatSocket = new WebSocket(url);

        chatSocket.onMessage = function(e) {
            const data = JSON.parse(e.data);
            console.log('Data:\t', data);
        }
    </script>

    <!-- Landing page js -->
</body>

</html>