{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}

<!-- MINIA Horizontal - Begin page -->

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
{% for message in messages %}
<input type="hidden" id="login-msg" value="{{message}}">
{% endfor %}

<head>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link id="theme-sheet" rel="stylesheet" href="{% static "css/core.css" %}">
</head>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- end page title -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100" style="min-height:195px;">
                        <!-- card body -->
                        <div class="card-body" style="overflow: auto;">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <span class="mb-3 lh-1 d-block text-truncate" style="font-weight:bold;">Selected ASIN</span>
                                    <h4 class="mb-3 ">
                                       {{ selected_asin }}
                                    </h4>
                                    <form class="control has-icons-left" method="post" enctype="multipart/form-data" action="" style="bottom: 0px; margin-top:-20px;">
                                        {% csrf_token %}
                                        <div class="columns" style="width:70rem;">
                                            <div class="form-group column">
                                                <br>
                                                <div class="dropdown">
                                                    <button onclick="dropdownSearch('myDropdownOne')" class="dropbtn" type="button" id="asin-btn-1">Select ASIN 1</button>
                                                    <div id="myDropdownOne" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInputOne" onkeyup="filterFunction('myInputOne', 'myDropdownOne', 'asin-dropdown-1')" name="retrieve-asin-data-1" required>
                                                        {% for asin in analyzed_asin_list %}
                                                            <button value="{{ asin }}" class="asin-dropdown-1" onClick="changeValue('myInputOne', 'myDropdownOne', 'asin-btn-1', '{{ asin }}')" type="button">{{ asin }}</button>
                                                        {% endfor %}
                                                    </div>
                                                </div> 
                                                <div class="search-button row btn-lg column" style="margin-top:-10px; position: relative; display: inline-block;">
                                                    <button type="submit" class="dropbtn" style="min-width:150px; min-height:10px;">Get Report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br><br>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100" style="min-height:195px;">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <span class="mb-3 lh-1 d-block text-truncate" style="font-weight:bold;">Rating / Reviews</span>
                                    <h4 class="mb-3">
                                        {{ rating }}
                                    </h4>
                                </div>
                                <div class="col-6">
                                    <div id="mini-chart2" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                </div>
                            </div>
                            <div class="text-nowrap">
                                <span class="ms-1 text-muted font-size-13">{{ total_reviews }}</span>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col-->

                <div class="col-xl-6 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100" style="min-height:195px;">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div style="margin-top:-60px; margin-bottom:-50px; margin-left:-10px;">{% include "web/amazon/components/asin_search.html" %}</div
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row-->
            <br>
            <div class="row">
                <div class="col-xl-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center mb-4">
                                <h5 class="card-title me-2">Who</h5>
                                <div class="ms-auto" style="width:100%;" id="positiveNounsPlot">
                                    {{ who_plot|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-xl-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center mb-4">
                                <h5 class="card-title me-2">Where</h5>
                                <div class="ms-auto" style="width:100%;">
                                    {{ where_plot|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
                {% comment %} <div class="col-xl-7">
                    <div class="row">
                        <div class="col-xl-8">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center mb-4">
                                        <h5 class="card-title me-2">Most Used Adjectives</h5>

                                        {{ noun_adjective_plot|safe }}
                                        
                                    </div>

                                    <div class="row align-items-center">
                                        <div class="col-sm">
                                            <div id="invested-overview" data-colors='["#5156be", "#34c38f"]' class="apex-charts"></div>
                                        </div>
                                        <div class="col-sm align-self-center">
                                            <div class="mt-4 mt-sm-0">
                                                <p class="mb-1">Invested Amount</p>
                                                <h4>$ 6134.39</h4>

                                                <p class="text-muted mb-4"> + 0.0012.23 ( 0.2 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i></p>

                                                <div class="row g-0">
                                                    <div class="col-6">
                                                        <div>
                                                            <p class="mb-2 text-muted text-uppercase font-size-11">Income</p>
                                                            <h5 class="fw-medium">$ 2632.46</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div>
                                                            <p class="mb-2 text-muted text-uppercase font-size-11">Expenses</p>
                                                            <h5 class="fw-medium">-$ 924.38</h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mt-2">
                                                    <a href="#" class="btn btn-primary btn-sm">View more <i class="mdi mdi-arrow-right ms-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->

                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div> {% endcomment %}
                <!-- end col -->
            </div> <!-- end row-->

            <div class="row">
                <div class="col-xl-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center mb-4">
                                <h5 class="card-title me-2">When</h5>
                                <div class="ms-auto" style="width:100%;">
                                    {{ when_plot|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-xl-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center mb-4">
                                <h5 class="card-title me-2">How Often</h5>
                                <div class="ms-auto" style="width:100%;">
                                    {{ how_often_plot|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div> <!-- end row-->
            <br>
            <div class="row">
                <div class="col-xl-12">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center mb-4">
                                <h5 class="card-title me-2">Customer Sentiment</h5>
                                <div class="ms-auto" style="width:100%;">
                                    {{ when_plot|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div> <!-- end row-->
            <!-- end row-->
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">4-5 Star Review Descriptions</h4>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="buy-tab" role="tabpanel">
                                    <div>
                                        <ul>
                                            {% for desc in positive_descriptions%}
                                                <li>{{ desc }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
                
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">1-3 Star Review Descriptions</h4>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="buy-tab" role="tabpanel">
                                    <div>
                                        <ul>
                                            {% for desc in negative_descriptions%}
                                                <li>{{ desc }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end card body -->
                    </div>
                <!-- end col -->
            </div><!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    {% comment %} <div class="position-fixed top-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
            <div id="toast-body" class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div> {% endcomment %}
</div>
      
    <!-- End Page-content -->
<!-- end main content-->
<script src="{% static "js/custom.js" %}"></script>
<script>
    function changeValue(inputTag, dropdownTag, btnTag, val){
    document.getElementById(inputTag).value=val; // 'myInput'
    document.getElementById(inputTag).placeholder=val; // 'myInput'
    document.getElementById(dropdownTag).classList.toggle("show"); // "myDropdown"
    document.getElementById(btnTag).innerHTML=val; //"asin-btn-2"
    }
</script>
{% comment %}  {% endcomment %}

{% comment %} url:'{% url "amazon:fetch_new_asin_data" %}', {% endcomment %}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

{% comment %} e.preventDefault(); {% endcomment %}
<script type="text/javascript">
    $(document).on('submit','#search-asin-form', async function(e) {
        $.ajax({
            type:'POST',
            dataType: 'json',
            url: "{% url 'amazon:fetch_new_asin_data' request.team.slug %}",
            async: false,
            data:
            {
                search_asin:$("#search-asin").val(),
                search_type:$("#search-type").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
        });
        });
</script>

{% endblock %}
