{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}

<!-- MINIA Horizontal - Begin page -->

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
{% for message in messages %}
<input type="hidden" id="login-msg" value="{{message}}">
{% endfor %}

<head>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link id="theme-sheet" rel="stylesheet" href="{% static "css/core.css" %}">
</head>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- end page title -->
            {% include "web/amazon/components/asin_selector.html" %}
            <br><br><br>
            <div class="row">
                <div class="col-xl-12 col-md-12" style="padding-right:25px;">
                    <!-- card -->
                    <div class="card card-h-100" style="min-height:95px;">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <span class="mb-3 lh-1 d-block" style="font-weight:bold; min-width:150px;">
                                        Search by Rating
                                    </span>
                                    <div class="search-button btn-lg col-8" style="margin-top:-10px; margin-left:10px;">
                                        <button onclick="handleSearch(pageNum={{ page_num }}, rating='1,2,3,4,5', resultsPerPage={{resultsPerPage}})" class="dropbtn" style="min-width:50px; min-height:10px; margin-bottom:-10px;">All Reviews</button>
                                        <button onclick="handleSearch(pageNum={{ page_num }}, rating=1, resultsPerPage={{resultsPerPage}})" class="dropbtn" style="min-width:50px; min-height:10px; margin-bottom:-10px;">1 Star</button>
                                        <button onclick="handleSearch(pageNum={{ page_num }}, rating=2, resultsPerPage={{resultsPerPage}})" class="dropbtn" style="min-width:50px; min-height:10px; margin-bottom:-10px;">2 Stars</button>
                                        <button onclick="handleSearch(pageNum={{ page_num }}, rating=3, resultsPerPage={{resultsPerPage}})" class="dropbtn" style="min-width:50px; min-height:10px; margin-bottom:-10px;">3 Stars</button>
                                        <button onclick="handleSearch(pageNum={{ page_num }}, rating=4, resultsPerPage={{resultsPerPage}})" class="dropbtn" style="min-width:50px; min-height:10px; margin-bottom:-10px;">4 Stars</button>
                                        <button onclick="handleSearch(pageNum={{ page_num }}, rating=5, resultsPerPage={{resultsPerPage}}))" class="dropbtn" style="min-width:50px; min-height:10px; margin-bottom:-10px;">5 Stars</button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    {% comment %} <form class="control has-icons-left d-flex" style="bottom: 0px;" method="post">
                                        {% csrf_token %}
                                        <div class="form-group col-6">
                                            <input type="text" class="form-control darken-placeholder" id="review-search-keyword" name="review-search-keyword" placeholder="Search Keywords" style="min-height:50px;" value={{ review_search_keyword }}>
                                        </div>
                                        <div class="btn-lg col-6 d-flex align-items-center justify-content-center">
                                            <button onclick="handleSearch(pageNum={{ page_num }}, rating={{rating}}, resultsPerPage={{resultsPerPage}})" class="dropbtn">Search</button>
                                        </div>
                                    </form> {% endcomment %}
                                    <form class="control has-icons-left d-flex" style="bottom: 0px;" method="post">
                                        {% csrf_token %}
                                        <div class="form-group col-6">
                                            <input type="text" class="form-control darken-placeholder" id="review-search-keyword" name="review-search-keyword" placeholder="Search Keywords" style="min-height:50px;" value={{ review_search_keyword }}>
                                        </div>
                                        <div class="btn-lg col-6 d-flex align-items-center justify-content-center">
                                            <button type="button" onclick="handleSearch({{ page_num }}, {{ rating }}, {{ results_per_page }})" class="dropbtn">Search</button>
                                        </div>
                                    </form>                                    
                                </div>
                                
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col-->
            </div>
            <br><br><br>
            <div id="review-cards">
                {% for review in processed_reviews %}
                    <div class="row">
                        <div class="col-xl-12 col-md-12" style="padding-right:25px;">
                            <!-- card -->
                            <div class="card card-h-100" style="min-height:195px;">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <span class="mb-3 lh-1 d-block" style="font-weight:bold; min-width:150px;">
                                                <a href="https://www.amazon.com/gp/customer-reviews/{{review.REVIEW_ID}}" target="_blank">
                                                    {{ review.TITLE }}
                                                </a>
                                                - {{ review.RATING }} Star - {{ review.REVIEW_DATE }}
                                            </span>
                                            <h4 class="mb-3">
                                                
                                            </h4>
                                        </div>
                                        <div class="col-6">
                                            <div id="mini-chart2" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="ms-1 text-muted font-size-13">{{ review.REVIEW }}</span>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <br><br>
                {% endfor %}
            </div>
            <div class="pagination">
                <!-- content will be added dynamically -->
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>
      
    <!-- End Page-content -->
<!-- end main content-->
<script id='js-vars'>
    var paginator_url = "{% url 'customer_insights:customer_reviews' request.team.slug %}"
    var csrftoken = "{{ csrf_token }}";
    var asin = "{{ selected_asin }}";
    let reviewCount = "{{ review_count }}";
    let resultsPerPage = "{{ results_per_page }}";
    let totalPages = Math.ceil(reviewCount / resultsPerPage)
    var pageNum = "{{ page_num }}";
    var rating = "{{ rating }}";
    var reviewSearchKeyword = "{{ review_search_keyword }}";
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static "js/custom.js" %}"></script>
<script src="{% static "js/paginator.js" %}"></script>
<script>
    function handleSearch(pageNum=pageNum, rating=rating, resultsPerPage=resultsPerPage) {
      // prevent the form from submitting
      event.preventDefault();

      // get the input value
      var keywordSearch = document.getElementById('review-search-keyword').value;

      console.log('pageNum=', pageNum, 'rating=', rating, 'resultsPerPage=', resultsPerPage, 'keyword=', keywordSearch)
    
      // call sendPostRequest with the input value
      sendPostRequest(pageNum=pageNum, rating=rating, resultsPerPage=resultsPerPage, keyword=keywordSearch)
    }
</script>


{% comment %} <script>
    function changePage(event, pageNum) {
      console.log(pageNum)
      console.log('hiss')

      event.preventDefault();
    
      // Remove 'active' class from all links
      document.querySelectorAll('.pagination a').forEach((el) => {
        el.classList.remove('active');
      });
    
      // Add 'active' class to the clicked link
      event.target.classList.add('active');
    
      // Perform a POST request
     
    }
</script> {% endcomment %}


<style>
    .pagination {
      display: inline-block;
    }
    
    .pagination button {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid #ddd;
    }
    
    .pagination button.active {
      background-color: #4C8BF5;
      color: white;
      border: 1px solid #4C8BF5;
    }
    
    .pagination button:hover:not(.active) {background-color: #ddd;}
    
    .pagination button:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    
    .pagination button:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    #resultsPerPage {
        height: 45px;
    }
</style>

{% endblock %}
