{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}

{% for message in messages %}
<input type="hidden" id="login-msg" value="{{message}}">
{% endfor %}

<head>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link id="theme-sheet" rel="stylesheet" href="{% static "css/core.css" %}">
</head>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- end page title -->
            {% include "web/amazon/components/asin_selector.html" %}
            <br><br><br>
            <div id="myModal" class="popup">
                <div class="popup-content">
                    <p>Warning: are you sure that you want to delete this category?</p>
                    <button id="yesButton">Yes</button>
                    <button id="noButton">No</button>
                </div>
            </div>
            <div id="review-cards">
                <div id="category-container">
                    <!-- Dynamically generate category cards here -->
                </div>
                
                <!-- Template for a category card -->
                <div class="category-template" style="">
                    {% for category in category_mappings %}
                    <div class="card category-card">
                        <form class="control has-icons-left" method="post" action="{% url 'customer_insights:update_user_product_categories' request.team.slug %}">
                            <input class="card-header" type="text" name="category" value="{{ category.USER_PRODUCT_CATEGORY }}">
                            <button type="button" class="delete-category" onclick="showModal(this.parentElement.parentElement)">X</button>
                            <br>
                            <div class="product-list">
                                <ul>
                                    <div class="search-area" class="asin-card">
                                        {% csrf_token %}
                                        {% for asin in category.ASIN %}
                                            <li>
                                                <input class="input is-large" type="text" placeholder="ASIN 1" name="asin-1" value="{{ asin }}">
                                                <button type="button" onclick="this.parentElement.remove();">X</button>
                                            </li>
                                        {% endfor %}
                                        <input class="input is-large" type="text" placeholder="New ASIN" name="asin-0">
                                        
                                        {% comment %} id="add-product" {% endcomment %}
                                        <button class="dropbtn add-product" type="button" class="asin-0">Add Another ASIN to Category</button>
                                        <button class="dropbtn" type="submit" id="save-list">Save List</button>
                                    </div>
                                    <br>
                                </ul>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <button class="dropbtn" type="button" id="add-category">Add Another to Category</button>
            <button class="dropbtn" type="button">Save All Categories</button>
        </div>
        <!-- container-fluid -->
    </div>
</div>

    <!-- End Page-content -->
<!-- end main content-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static "js/custom.js" %}"></script>

<script type="text/javascript">
    $(document).on('submit','#search-asin-form', async function(e) {
        $.ajax({
            type:'POST',
            dataType: 'json',
            url: "{% url 'customer_insights:fetch_new_asin_data' request.team.slug %}",
            async: false,
            data:
            {
                search_asin:$("#search-asin").val(),
                search_type:$("#search-type").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
        });
        });
</script>

<script>
    var add_btns = document.querySelectorAll('.add-product');

    add_btns.forEach(function(add_btn) {
        add_btn.onclick = function() {
            var parentElement = add_btn.parentElement;
            let childElements = parentElement.querySelectorAll('[name*="asin-"]');
            let childElementsArray = Array.from(childElements);
            var counter = childElementsArray.length + 1;

            // Create the new input element
            var add_input = document.createElement("input");
            add_input.className = "input is-large"
            add_input.placeholder = "Enter ASIN"
            add_input.name = "asin-" + counter

            // Create the delete button
            var deleteButton = document.createElement("button");
            deleteButton.textContent = "x";
            deleteButton.onclick = function() {
                parentElement.removeChild(li);
            }

            // Create the new li element
            var li = document.createElement("li");

            // Add the input element to the li
            li.appendChild(add_input);
            li.appendChild(deleteButton);

            // Add the li to the element            
            parentElement.appendChild(li);

            counter = counter + 1;
        }
    });
</script>

{% comment %} Add Categories {% endcomment %}
<script>
    var add_btn = document.getElementById('add-category');

    var counter = 2;

    add_btn.onclick = function() {
        // Create the new input element
        var add_category = document.querySelector('[class*="category-card"]').cloneNode(true);
        add_category.classList.add("card");
        add_category.classList.add("add-category");
        add_category.placeholder = "CATEGORY " + counter;
        add_category.value = "CATEGORY " + counter;
        add_category.name = "category-" + counter;
        add_category.id = "category-template" + counter;

        // Add the li to the element
        // var element = document.getElementById("category-template");
        var element = document.getElementById("review-cards");
        element.appendChild(add_category);

        counter = counter + 1;
    }
</script>

<!-- Vanilla JS for the modal functionality -->
<script>
    // Get the modal and buttons
    var modal = document.getElementById("myModal");
    var yesButton = document.getElementById("yesButton");
    var noButton = document.getElementById("noButton");
    let categoryCard;

    // Function to show the modal
    function showModal(ele) {
        modal.style.display = "block";
        categoryCard = ele;
    }

    // Function to hide the modal
    function hideModal() {
        modal.style.display = "none";
    }

    // When the user clicks on the Yes button, delete the element and hide the modal
    yesButton.onclick = function() {        
        var category = categoryCard.querySelector('[name*="category"]').value;

        $.ajax({
            url: "{% url 'customer_insights:delete_user_product_group' request.team.slug %} ", // Django endpoint
            type: 'POST',
            data: {
                // Your data here. For example:
                'product_category': category,
                // CSRF token, mandatory for Django POST requests.
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                // Handle success here, data is the response from the server
                console.log(data);
            },
            error: function (error) {
                // Handle error here
                console.log(error);
            }
        });
        
        categoryCard.remove();
        hideModal();
    }

    // When the user clicks on the No button, hide the modal
    noButton.onclick = function() {
        hideModal();
    }

</script>

<style>
    .card {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }
    
    .card-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .product-list {
        margin-bottom: 10px;
    }

    .popup {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    .popup-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
        
</style>

{% endblock %}
