Django
django-allauth
django-allauth-2fa
django-waffle
psycopg2-binary
django-environ
djangorestframework
drf-spectacular
stripe
dj-stripe
django-anymail[mailgun]  # email services
django-hijack
celery-progress
celery
celery[redis]
sentry-sdk
openai
python-docx
pandas
debugpy
gpt_index
channels
openai
django-analytical
plotly
spacy
torch
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz#egg=en_core_web_sm