{% load i18n %}
{% load static %}
<div class="my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <h1 style="text-align: center;">How does it work?</h1>
        <div class="my-3" style="text-align: center;">
          <p>We fetch product reviews, filter them by verified purchases, then we use GPT models to find common things in the reviews that customers like, dislike, and more.</p>
          <p>You can fetch reviews for multiple products at once to learn how to differentiate your product from your strongest competitors.</p>
        </div>
        <div class="col-md order-md-last">
          <img class="img-fluid" src="{% static 'images/custom/review_insights.png' %}" alt="Fly Away!">
        </div>
      </div>
    </div>
  </div>
</div>
