{% load static %}
<head>
    <link id="theme-sheet" rel="stylesheet" href="{% static "css/core.css" %}">
</head>

{% block body %}
    <div class="section blog-section" style="margin-bottom:20px; padding-bottom:20px;">
        <div>
            <div class="">
                <form class="control has-icons-left" id="search-asin-form" method="post" enctype="multipart/form-data" action="" style="bottom: 0px;">
                    {% csrf_token %}
                    <label style="font-weight:bold;">Get New Data</label>
                    <br><br>
                    <div class="row" style="width:80rem; margin-top:-20px;">
                        {% comment %} <div class="select col-2">
                            <select name="search-type" id="search-type" style="min-height:50px; background-color:#4C8BF5; color:white;" required>
                                <option default disaabled hidden value="">Select Search Type</option>
                                <option value="ASIN">ASIN</option>
                                <option value="Product-Group">Product Group</option>
                            </select>
                        </div> {% endcomment %}
                        {% comment %} <div class="form-group col-4" style="max-width:260px;">
                            <input type="text" class="form-control darken-placeholder" id="search-asin" name="search-asin" placeholder="Enter ASIN" style="min-height:50px;margin-left:10px;">
                        </div> {% endcomment %}
                        <button onclick="dropdownSearch('myDropdownTwo')" class="dropbtn" type="button" id="asin-btn-2" style="max-width:200px; min-height:50px; margin-left:20px;">Pick Product Category</button>
                        <div id="myDropdownTwo" class="dropdown-content">
                            <input type="text" placeholder="Search.." id="categoryInput" onkeyup="filterFunction('categoryInput', 'myDropdownTwo', 'asin-dropdown-2')" name="category-input" required>
                            {% for asin in analyzed_asin_list %}
                                <button value="{{ asin }}" class="asin-dropdown-2" onClick="changeValue('categoryInput', 'myDropdownTwo', 'asin-btn-2', '{{ asin }}')" type="button">{{ asin }}</button>
                            {% endfor %}
                        </div>
                        <div class="search-button btn-lg col-2" style="margin-left:10px;">
                            <button type="submit" class="dropbtn" style="min-width:100px; min-height:10px; margin-bottom:-10px;">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            {% comment %}<br>
            <p>
                You can add one ASIN or multiple. To add multiple ASINs, separate them with a comma or semicolon.
                <br>
                <strong>Note:</strong> the multiple ASINs will be evaluated as a group, so the analysis will be based on the combined reviews.
                <br>
                If you wish to evaluate individual ASINs, please add them individually.
            </p> {% endcomment %}
        </div>
    </div>
{% endblock %}