<div style="margin-left:20px;">
    <h3 style="font-weight:bold;">Compare Products</h3>
    <form class="control has-icons-left" method="post" enctype="multipart/form-data" action="" style="bottom: 0px">
        {% csrf_token %}
        <div class="columns" style="width:60rem;">
            <div class="form-group column">
                <label>Compare ASIN Data</label>
                <select class="form-select" name="retrieve-asin-data">
                    <option selected>Select ASIN</option>
                    {% for asin in asin_list %}
                        <option value="{{ asin }}">{{ asin }}</option>
                    {% endfor %}
                </select>
                <select class="form-select" name="retrieve-asin-data-2">
                    <option selected>Select ASIN</option>
                    {% for asin in asin_list %}
                        <option value="{{ asin }}">{{ asin }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="search-button row btn-lg column" style="margin-top:-5px;">
                <button type="submit" class="button primary-btn is-bold" style="min-width:150px; min-height:10px;">Compare</button>
            </div>
        </div>
    </form>
</div>