{% load static %}
<head>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
</head>
<div style="margin-left:20px;">
    <h3 style="font-weight:bold;">Compare ASIN Data</h3>
    
    <form class="control has-icons-left" method="post" enctype="multipart/form-data" action="" style="bottom: 0px">
        {% csrf_token %}
        <div class="columns" style="width:70rem;">
            <div class="form-group column">
                <br>
                <div class="dropdown">
                    <button onclick="dropdownSearch('myDropdownOne')" class="dropbtn" type="button" id="asin-btn-1">Select ASIN 1</button>
                    <div id="myDropdownOne" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInputOne" onkeyup="filterFunction('myInputOne', 'myDropdownOne', 'asin-dropdown-1')" name="retrieve-asin-data-1">
                        {% for asin in analyzed_asin_list %}
                            <button value="{{ asin }}" class="asin-dropdown-1" onClick="changeValue('myInputOne', 'myDropdownOne', 'asin-btn-1', '{{ asin }}')" type="button">{{ asin }}</button>
                        {% endfor %}
                    </div>
                </div> 
                <div class="dropdown">
                    <button onclick="dropdownSearch('myDropdownTwo')" class="dropbtn" type="button" id="asin-btn-2">Select ASIN 2</button>
                    <div id="myDropdownTwo" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInputTwo" onkeyup="filterFunction('myInputTwo', 'myDropdownTwo', 'asin-dropdown-2')" name="retrieve-asin-data-2">
                        {% for asin in analyzed_asin_list %}
                            <button value="{{ asin }}" class="asin-dropdown-2" onClick="changeValue('myInputTwo', 'myDropdownTwo', 'asin-btn-2', '{{ asin }}')" type="button">{{ asin }}</button>
                        {% endfor %}
                    </div>
                </div> 
                <div class="search-button row btn-lg column" style="margin-top:-10px; position: relative; display: inline-block;">
                    <button type="submit" class="dropbtn" style="min-width:150px; min-height:10px;">Compare</button>
                </div>
            </div>
            
        </div>
    </form>
</div>

<script src="{% static "js/custom.js" %}"></script>
<script>
    function changeValue(inputTag, dropdownTag, btnTag, val){
      document.getElementById(inputTag).value=val; // 'myInput'
      document.getElementById(inputTag).placeholder=val; // 'myInput'
      document.getElementById(dropdownTag).classList.toggle("show"); // "myDropdown"
      document.getElementById(btnTag).innerHTML=val; //"asin-btn-2"
     }
 </script>